<!-- base.html 템플릿 파일을 상속받음 -->
{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<!-- 가운데 정렬, margin 상하 값을 추가 -->
<div class="container my-3">
    <!-- 양쪽 정렬 -->
    <div class="row justify-content-between my-3">
        <!-- 정렬 기준 -->
        <div class="col-2">
            <select class="form-control so">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>
                    최신순
                </option>
                <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>
                    추천순
                </option>
                <option value="popular" {% if so == 'popular' %}selected{% endif %}>
                    인기순
                </option>
            </select>
        </div>
        <!-- 검색창 -->
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw | default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th>번호</th>
                <th>추천</th>
                <!-- 제목의 너비가 전체에서 50%를 차지 -->
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
                {% for question in question_list %}
                    <tr class="text-center">
                        <!-- 일련번호: 전체 게시물 개수 - 시작 인덱스 - 현재 인덱스(0부터 1씩 증가) + 1 -->
                        <td>
                            {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                        </td>
                        <td>
                            {% if question.voter.all.count > 0 %}
                                <span class="badge badge-warning px-2 py-1">
                                    {{ question.voter.all.count }}
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-left">
                            <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                            <!-- 질문에 달린 답변 개수 표시 -->
                            {% if question.answer_set.count > 0 %}
                                <span class="text-danger small ml-2">
                                    {{ question.answer_set.count }}
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ question.author.username }}</td>  <!-- 글쓴이 추가 -->
                        <td>{{ question.create_date }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지가 있으면 '이전' 링크 활성화. 이전 페이지가 없으면 '이전' 링크 비활성화. -->
        {% if question_list.has_previous %}
            <li class="page-item">
                <!-- 모든 페이지 링크를 href 속성에 직접 입력하는 대신, data-page 속성으로 값을 읽을 수 있도록 한다 -->
                <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}

        <!-- 페이지 리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            <!-- 페이지 번호가 현재 페이지 기준으로 좌우 5개씩 보임 -->
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                <!-- 현재 페이지 번호는 active 클래스로 강조 표시 -->
                {% if page_number == question_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page="{{ page_number }}" href="#">
                            {{ page_number }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ page_number }}" href="#">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        <!-- 다음 페이지가 있으면 '다음' 링크 활성화. 다음 페이지가 없으면 '다음' 링크 비활성화. -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->

    <!-- 질문 등록 버튼 추가 -->
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">
        질문 등록하기
    </a>
</div>

<!-- kw, page, so를 동시에 GET 방식으로 요청 -->
<!-- action: 폼이 전송되는 URL -->
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        // class 속성이 page-link인 링크를 누르면
        $(".page-link").on('click', function() {
            // 클릭한 링크의 data-page 값을 id가 page인 hidden 필드에 설정
            // 즉, searchForm의 page 필드에 그 값을 설정한다
            $("#page").val($(this).data("page"));
            // 폼을 요청한다
            $("#searchForm").submit();
        });
        // id 속성이 btn_search인 검색 버튼을 클릭하면
        $("#btn_search").on('click', function() {
            // 검색창(class 속성이 kw)에 입력된 값을 id가 kw인 hidden 필드에 설정
            // 즉, searchForm의 kw 필드에 그 값을 설정한다
            $("#kw").val($(".kw").val());
            // 1페이지부터 조회한다
            $("#page").val(1);
            // 폼을 요청한다
            $("#searchForm").submit();
        });
        // class 속성이 so인 엘리먼트, 즉 정렬 조건에 해당하는 select의 값이 변경되면
        $(".so").on('change', function() {
            // searchForm의 so 필드에 그 값을 설정한다
            $("#so").val($(this).val());
            // 1페이지부터 조회한다
            $("#page").val(1);
            // 폼을 요청한다
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}