/*
inline element
*/
a {
  color: salmon;
  text-decoration: none;
}
/*
block level element
*/
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lavenderblush;
  color: salmon ;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
#intro {
  text-align: center;
  border-bottom: 2px solid pink;
  padding: 10px;
  margin: 0px;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.index {
  padding: 20px;
  margin: 0px;
  width: 140px;
  border-right: 2px solid pink;
}
h2 {
  margin: 0px;
  padding: 0px;
}
#grid ol {
  margin: 5px;
  padding: 20px;
  padding-top: 10px;
}
.context {
  padding: 20px;
  margin: 0px;
}
@media (max-width: 600px) {
  #grid {
    display: block;
  }
  .index {
    border-right: none;
  }
}
