body{
    margin: 0px ;
}
ul li{
    color: black;
}
h1, h2 { 
    color: rgb(161, 59, 59);
}

#title_html{
    text-align: center;
    border-bottom: 1px solid rgb(228, 223, 223);
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.link_id{
    border-right: 1px solid rgb(228, 223, 223);
    width: 150px;
    height: 100%;
    margin-top: 0px;
    padding-top: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 250px 1fr;
}
.link_id{
    padding-left: 90px;
    font-size: 20px;
    font-weight: bold;
}